@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Noto+Sans&family=PT+Serif:wght@700&display=swap');

*,
*:before,
*:after{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.skip-link{
    background: white;
    color: black;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}

.skip-link:focus{
    transform: translateY(0);
}

header,
main,
aside{
    padding: 1.5em;
}

h1,
h2,
h3,
h4{
    font-family: "Libre Baskerville", serif;
    font-style: normal;
}

header,nav, footer{
    background-color: #22009C;
    color: white;
    text-align: center;
}

ul{
    padding: 0 40px 1.5em 40px;
    line-height: 1.58em;
}
.nested-list{
    padding: 0 40px;
}
a{
    color:black;
}

a:hover{
    color: #0046A8;
}

nav ul{
    flex-flow: column nowrap;
    text-align: center;
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    padding: 10px 5px;
    margin: 5px;
    border: 1.5px black solid;
    background: white;
    text-decoration: none;
    color: #0046A8;
    font-size: large;
}

nav ul li a:hover{
    color: #0046A8;
}

body{
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
}

h2, h3, iframe{
    margin-block-end: 0.5em;
}

p{
    line-height: 1.58em;
    margin-bottom: 1em;
}

blockquote, figure{
    display: block;
    margin: 1em 40px;
}

img,iframe{
    max-width: 100%;
}

footer p{
    margin: 0;
}
footer{
    padding: 1em;
}

.container{
    display: grid;
    grid-template-columns: 
    1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}

.container-how{
    display: grid;
    grid-template-columns: 
    1fr;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "aside"
    "footer";
}

header{grid-area: header;}
nav{grid-area: nav;}
main{grid-area: main; max-width: 960px; margin: 0 auto;}
aside{grid-area: aside; display: block; background-color: #D4D4D4; margin:1.5em 0 auto 0;}
footer{grid-area: footer;}

.sr-only { /*Class that hides content from viewable page, but makes it available to screen reader*/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

@media screen
and (min-width: 641px){
    header{
        padding: 2em;
    }
    nav{
        background-color: #0046A8;
    }
    nav ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        
    }
    nav ul li a{
        border: none;
        text-decoration: underline;
        background-color: #0046A8;
        color: white;
    }
    nav ul li a:hover{
        color: white;
    }
    
    
    .container-how main,
    .container-how aside{
        padding: 1.5em 2.5em;
    }
}

@media screen 
and (min-width:900px){
    .container-how{
        grid-template-columns: 
        3fr 1fr;
        grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    }

    .container-how aside{
        padding-left: 1em;
        margin-right: 1.5em;
        padding-right: 1em;
    }
    
    aside{
        border-radius: 5px;
    }
    aside ul{
        padding: 0 20px 1.5em 20px;
    }
  }