@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Nunito+Sans:opsz@6..12&display=swap');


body{
    background-color: #FFC48F;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container{
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2,
h3{
    font-family: "Cinzel", serif;
    font-size: 700;
    font-style: normal;
}

p{
    line-height: 1.6em;
    margin-bottom: 1.3em;
}
/*nav ul li{ -- turns on bat bullet points
    list-style: "\1F987";
}*/

.sub-nav{
    list-style: square;
}

nav ul li a:link{
    color: black;
}

nav ul li a:visited{
    color: black
}

nav ul li a:hover{
    color: white;
    background: black;
}

.sr-only { /*Class that hides content from viewable page, but makes it available to screen reader*/
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }